
/**
 * Custom
 */
.naranjo {
	background-color: #F55A00 !important;
}

a.naranjo:hover, a.naranjo:active, a.naranjo:focus {
    background-color: rgba(0,0,0,0.87);
}


.text-naranjo {
	color: #F55A00;
}

.gris {
    background-color: #423F40;
}

.text-gris {
    color: #423F40;
}

@media screen and (min-width: 992px) {
	.row .col.m25 {
		width: 20%;
	}
}

.btn-relativo {
    position: relative;
    right: inherit;
    left: inherit;
    bottom: inherit;
    padding: 0;
}

#fono-dropdown {
    min-width: 300px;
}

#fono-dropdown a, #email-dropdown a, #whatsapp-dropdown a {
    width: 100%;
    color: #F55A00;
}

#fono-dropdown i, #fono-dropdown .texto {
    display: inline-block;
    vertical-align: middle;
} 

#email-dropdown {
    min-width: 300px;
}

#email-dropdown i, #email-dropdown .texto {
    display: inline-block;
    vertical-align: middle;
} 

#whatsapp-dropdown {
    min-width: 300px;
}

#whatsapp-dropdown i, #whatsapp-dropdown .texto {
    display: inline-block;
    vertical-align: middle;
} 

nav {
    color: #434041;
    background-color: #fff;
}

nav ul a {
    color: #434041;
}

nav ul a.active {
    color: #FF5500;
}

input.header-search-input {
    background-color: rgba(0, 0, 0, .1);
}

input.header-search-input:hover {
    background: rgba(255, 255, 255, .8)
}

input.header-search-input:focus {
    color: #fff;
    background: #434041;
    border-bottom-color: 000!important;
    box-shadow: none!important
}

.header-search-wrapper i.active {
    color: #fff;
}

.header-search-input::-webkit-input-placeholder {
    color: #434041;
    font-size: 16px;
    font-weight: 400
}

.header-search-input::-moz-placeholder {
    color: #434041;
    font-size: 16px;
    font-weight: 400
}

.header-search-input:-ms-input-placeholder {
    color: #434041;
    font-size: 16px;
    font-weight: 400
}

.header-search-input:focus::-webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400
}

.header-search-input:focus::-moz-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400
}

.header-search-input:focus::placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400
}

.header-search-input:focus:-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400
}

.header-search-input::placeholder {
    color: #434041;
    font-size: 16px;
    font-weight: 400
}

.sidebar-collapse .mdi-navigation-menu {
    font-size: 2rem;
    line-height: 2.5rem;
    color: #434041;
}

.carrito i {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px; 
}

.carrito .action-text {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    max-width: 100px;
    line-height: 1rem;
    font-size: 0.9rem;
}

#portada img {
    width: 100%;
}

@media screen and (max-width: 992px) {
   #content .header-search-wrapper input.header-search-input{
        box-sizing: border-box;
        height: 40px;
    } 
}

@media screen and (min-width: 992px) {
    #main .slider {
        height: 250px !important;
    }
}

#main .slider .indicators {
    z-index: 10;
}

#main .slider .indicators .indicator-item.active {
    background-color: #F55A00;
}

#filtro {
    background-color: #f0f0f0;
    padding: 10px 0 0 0;
    margin: 15px 0 25px 0;
}

#main [type="checkbox"]:checked + label::before {
    border-right-color: #F55A00;
    border-bottom-color: #F55A00;
}

#main #filtro button:hover {
    background-color: #F55A00;
    opacity: 0.8;
}

#main #products #preloader-product {
    background-color: rgba(245, 90, 0, 0.3);
}

#main #products #preloader-product .indeterminate {
    background-color: #F55A00;
}

#main .product {
	margin-bottom: 0px;
    position: relative;
    display: none;
    padding: 0;
    border: 1px solid #ececec;
}

#main .product .card {
    opacity: 0;
    bottom: -100%;
    padding: 5px 10px;
    box-shadow: none;
}

#main .product .hoverable:hover {
    transition: box-shadow .25s;
    z-index: 10;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main .product .card .btn-price {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#main .product .card-title {
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 1.2rem;
    height: 55px;
}

#main .product .card-title a {
    color: #212121;
}

#main .product .card .card-content {
	position: relative;
}

#main .product .marca img {
	width: 60px;
	float: right;
	position: absolute;
	left: 5px;
	top: -30px;
	z-index: 1;
}

#main .product .price {
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    height: 25px;
}

#main .product .old-price {
    font-size: 0.8rem;
    line-height: 1rem;
    text-decoration: line-through;
    height: 17px;
    float: left;
}

#main .product .cuotas {
    display: block;
    font-size: 0.9rem;
    margin-top: 5px;
}

#main .product .en-stock {
    text-align: right;
    display: block;
    height: 17px;
    font-size: 0.8rem;
}

.fixed-action-btn .btn-floating:hover {
    background-color: #F55A00;
}

.icono-ayuda {
    width: 35px;
    margin: 9px;
    display: block;
}

.pulse {
    overflow: initial;
    position: relative;
}

.pulse::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s, -webkit-transform .3s;
    -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1;
}

@-webkit-keyframes pulse-animation {
 0% {
  opacity:1;
  -webkit-transform:scale(1);
  transform:scale(1)
 }
 50% {
  opacity:0;
  -webkit-transform:scale(1.5);
  transform:scale(1.5)
 }
 100% {
  opacity:0;
  -webkit-transform:scale(1.5);
  transform:scale(1.5)
 }
}
@keyframes pulse-animation {
 0% {
  opacity:1;
  -webkit-transform:scale(1);
  transform:scale(1)
 }
 50% {
  opacity:0;
  -webkit-transform:scale(1.5);
  transform:scale(1.5)
 }
 100% {
  opacity:0;
  -webkit-transform:scale(1.5);
  transform:scale(1.5)
 }
}


/**
 * Productos
 */

#product {
    padding: 15px 0 100px 0;
    background-color: #fff;
}

#product .img-product-container {
    position: relative;
}

#product .btn-discount {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.4rem;
}

#product .top-info {
    background-color: #F3F3F3;
    padding: 0.75rem;
}

@media screen and (max-width: 768px) {
    #product .top-info {
        margin-top: 35px;
    }
}

#product .prices {
    padding: 15px 0;
}

#product .price-text {
    margin: 5px 0;
    display: block;
}

#product .price-val {
    padding: 5px 0;
    display: block;
}

#product .old-price {
    text-decoration: line-through;
    color: #989898;
}

#product .txt-reduced-price {
    color: #F55A00;
}

#product .price {
    color: #F55A00;
}

#product .tabs-product {
    padding: 0 0 15px;
}

#product .tabs .tab a.active {
    color: #F55A00;
}
#product .tabs .tab a {
    color: #808080;
}

#product .tabs .indicator {
    background-color: #F55A00;
}

#product .tabs-product #pago li, #product .tabs-product #despacho li {
    padding: 5px 0 5px 15px;
    position: relative;
}

#product .tabs-product #pago li::before, #product .tabs-product #despacho li::before {
    content: ".";
    position: absolute;
    padding: 0;
    font-size: 2rem;
    left: 0;
    line-height: 17px;
    top: 0;
}

#product .btn-more-info {
    padding: 15px 0;
}

#product #to-detail {
    cursor: pointer;
}

#product #to-detail:hover {
    color: #F55A00;
    border-color: #F55A00;
}

#product .stock {
    padding: 15px 0 5px;
    float: left;
}

#ComprarProductForm {
    padding: 5px 0 25px;
    float: left;
    width: 100%;
}

#product .quantity-action {
    float: left;
    width: 30%;
}

#product .quantity-action span {
    display: inline-block;
    width: 33.3333%;
    height: 36px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}

.input-quantity {
    display: inline-block;
    width: 33.3333%;
    height: 36px;
    text-align: center;
    padding: 0;
    line-height: 36px;
}

#send-sale {
    float: left;
    width: 70%;
}

#send-sale:hover, #send-sale:visited, #send-sale:active {
    background-color: rgba(0,0,0,0.87);
}

#product .p-info {
    margin: 50px 0;
}

#product .p-info .sub-title {
    text-transform: uppercase;
}

#product .p-info .sub-title::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    margin: 5px 0;
    height: 2px;
    background: #F55A00;
}


/* Autocomplete */
.autocomplete-content {
  margin-top: -20px;
  margin-bottom: 20px;
  display: block;
  opacity: 1;
  position: static;
}

.autocomplete-content li span {
    line-height: 40px;     
}

.autocomplete-content li .highlight {
    color: #444;
    font-weight: bold;
}

.autocomplete-content li img {
  height: 40px;
  width: 40px;
  margin: 5px 15px;
}

#products {
    margin-bottom: 50px !important; 
}

footer .row {
    margin-bottom: 0;
}

footer.page-footer {
    padding-top: 30px;
    padding-bottom: 30px; 
}

.page-footer h5 {
    font-size: 1.5rem;
}

.page-footer h5 > i {
    margin-right: 10px;
}

.sm-text {
    font-size: 0.95rem;
}

.no-block {
    display: inherit !important;
}